.sub-container {
    display: flex;
}

.sub-container > div {
    width: 100px;
    height:100px;
    background-color: red;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}